::ng-deep .alert-form .mat-dialog-title {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fdbd2d;
}

mat-icon {
    color: #fdbd2d;
    font-size: 1.4em;
    vertical-align: top;
    margin-right: 10px;
}

::ng-deep .alert-form .mat-dialog-actions {
    float: right;
}

.alert-form {
    width: 100%;
}

@media (max-width: 599px) {
    .alert-form {
    }
    ::ng-deep .alert-form .mat-dialog-container {
        padding: 40px 40px 60px !important;
    }
}

::ng-deep .alert-form .mat-dialog-container {
    display: block;
    padding: 50px 50px 80px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 400px;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

::ng-deep .alert-form .mat-button {
    margin-top: 20px;
    color: #252525 !important;
    background: transparent;
    /* background: #fdbd2d; */
}